body {
  background-color: blue;
  flex-direction: column;
  display: flex;
  p {
    font-size: 1.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

@import "./componentstyles/header.scss";
